.wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  
}
.head{
    height: 64px;
    line-height: 64px;
    font-size: 16px;
}
.main{
    flex: 1;
    overflow: hidden;
    overflow: auto;
    background: #ffffff;
    p{
        display: flex;
        align-items: center;
    }
}
.foot{
    width: 100%;
    height: 5%;
}
.ico{
    display: inline-block;
    margin-right: 4px;
    content: '*';
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}
.lis{
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.842);
    box-sizing: border-box;
    margin-top: 47px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
    margin-bottom: 24px;
    vertical-align: top;
}
.inp{
    font-variant: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 40%;
    height: 32px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
}
.flexbox{
    display: flex;
    flex-direction: row;
}
.flexbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    padding: 0 40px!important;
    border-radius: 4px!important;
    border: 0!important;
    font-size: 14px!important;
    color: #fff!important;
    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
}
.h3find{
    text-align: center;
    margin-top: 10px;
}
.btn1{
    width: 100px;
    padding: .5em;
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 2px;
    height: 32px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    box-sizing: border-box;
}

.box{
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #f1f3f5;
}
.boxwrap{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 10px;
    p{
        width: 100%;
        padding: .5em;
        flex-wrap: wrap;
    }
}
.boxmain{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
   border: 1px solid #ccc;
   padding-left: 20px;
}
.btn2{
    width: 150px;
    line-height: 1.499;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 2px;
    height: 32px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: #ffffff;
    background-color: #fff;
    border-color: #d9d9d9;
    box-sizing: border-box;
    margin-top: 40px;
    background: linear-gradient(-90deg,#4e75ff,#0139fd);
    margin-bottom: 50px;
  }
  .icos{
      position: absolute;
      right: 20px;
      top: 5px;
      color: rgb(60, 60, 224);
  }

  .inpts{
      width: 200px;
      height: 20%;
      margin-left: 0;
      margin-right: 0;
      zoom: 1;
      display: flex;
      align-items: center;
  }
.flexbox2{
    width: 100%;
    display: flex;
    background: #ffffff;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    border-radius: 10px;
}
.btn3{
    padding: 0 40px!important;
    border-radius: 4px!important;
    border: 0!important;
    font-size: 14px!important;
    color: #fff!important;
    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
    margin-top: 0;
}
.Nav{
   float: right;
}
